{# Partial Name: Footer #}

<footer class="footer">
  <img class="site-logo" src="{{imgix_link}}/img/logos/coastapp/site_logo2.svg" alt="Coast logo" />
  <ul class="footer-menu">
    {% for item in footer_menu.items %}
      <li class="menu-item">
          <a href={{item.link}}>{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="app-links">
    <a href="https://apps.apple.com/us/app/id1257883693?mt=8">
      <img class="apple" src="{{imgix_link}}/img/logos/third_party/apple_badge.svg" alt="App Store" />
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.fomo.android.app&hl=en_US">
      <img class="google" src="{{imgix_link}}/img/logos/third_party/google_badge.png" alt="Google Play" />
    </a>
  </div>
  <span class="copyright">Copyright {{"now"|date('Y')}} ONE SIX NINE INC. All rights reserved.</span>
</footer>
